<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="Unique Bible App" icon="/config/UniqueBible/htmlResources/UniqueBibleApp.png"><action name="Execute"><command>/config/UniqueBible/UniqueBibleApp.sh</command></action></item>
<item label="Thunar" icon="/usr/share/icons/hicolor/48x48/apps/org.xfce.thunar.png"><action name="Execute"><command>/usr/bin/thunar</command></action></item>
<item label="Firefox" icon="/usr/share/icons/hicolor/48x48/apps/firefox.png"><action name="Execute"><command>/usr/bin/firefox</command></action></item>
<item label="Leafpad" icon="/usr/share/icons/hicolor/32x32/apps/leafpad.png"><action name="Execute"><command>/usr/bin/leafpad</command></action></item>
<item label="Geany" icon="/usr/share/icons/hicolor/48x48/apps/geany.png"><action name="Execute"><command>/usr/bin/geany</command></action></item>
<item label="GThumb" icon="/defaults/gthumb-icon-300x295.png"><action name="Execute"><command>/usr/bin/gthumb</command></action></item>
<item label="VLC" icon="/usr/share/vlc/vlc.ico"><action name="Execute"><command>/usr/bin/vlc</command></action></item>
<item label="urxvt" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><command>/usr/bin/urxvt</command></action></item>
<item label="fcitx" icon="/usr/share/icons/hicolor/48x48/apps/fcitx.png"><action name="Execute"><command>/usr/bin/fcitx-configtool</command></action></item>
<item label="OBConf" icon="/usr/share/icons/hicolor/48x48/apps/obconf-qt.png"><action name="Execute"><command>/usr/bin/obconf-qt</command></action></item>
<item label="Reload OB"><action name="Reconfigure"/></item>
</menu>
</openbox_menu>
